<ion-view title="Dashboard" id="page7" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="dashboard-heading1" style="color:#000000;" class=" ">Wellcome Deepak</h1>
        <form id="dashboard-form4" class="list ">
            <div class="list card " id="dashboard-card21">
                <ion-item class="item-icon-left positive  " id="dashboard-list-item9">
                    <i class="icon ion-ios-analytics"></i>Item</ion-item>
                <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
                    <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
                </div>
                <div class="item item-body " id="dashboard-list-item-container1">
                    <p id="dashboard-markdown3" style="margin-top:0px;color:#000000;" class=" ">Some friendly
                        <strong>markdown</strong>
                    </p>
                </div>
                <ion-item class="item-icon-left assertive  " id="dashboard-list-item10">
                    <i class="icon ion-music-note"></i>Play Song</ion-item>
            </div>
            <ion-item class="range range-positive " id="dashboard-range1">Range
                <input type="range" value="50" min="0" max="100">
            </ion-item>
            <ion-item class="item-icon-left  " id="dashboard-list-item11">
                <i class="icon ion-ionic"></i>Item</ion-item>
            <ion-item class="item-icon-left  " id="dashboard-list-item12">
                <i class="icon ion-ionic"></i>Item</ion-item>
            <div id="dashboard-button-bar1" class=" button-bar ">
                <button id="dashboard-button5" class=" button button-positive  button-block ">1</button>
                <button id="dashboard-button6" class=" button button-positive  button-block ">2</button>
                <button id="dashboard-button7" class=" button button-positive  button-block ">3</button>
            </div>
            <label class="item item-input " id="dashboard-textarea4">
                <span class="input-label">Text</span><textarea placeholder=""></textarea>
            </label>
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
            <ion-toggle toggle-class="toggle-positive" id="dashboard-toggle2" class=" ">Toggle</ion-toggle>
            <ion-radio id="dashboard-radio1" class=" ">Radio</ion-radio>
            <ion-radio id="dashboard-radio2" class=" ">Radio</ion-radio>
            <ion-item class="item-thumbnail-left  " id="dashboard-list-item5">
                <h2>Item</h2>
            </ion-item>
            <label class="item item-select " id="dashboard-select1">
                <span class="input-label">Select</span>
                <select>
                    <option>Option 1</option>
                    <option>Option 2</option>
                </select>
            </label>
        </form>
        <ion-list id="dashboard-list4" class=" ">
            <ion-item id="dashboard-list-item6" class="  ">Item 1</ion-item>
            <ion-item id="dashboard-list-item7" class="  ">Item 2</ion-item>
            <ion-item id="dashboard-list-item8" class="  ">Item 3</ion-item>
        </ion-list>
    </ion-content>
</ion-view>